@font-face {
  font-family: Kanit;
  src: url(./fonts/Kanit-Light.ttf);
}

body {
  font-family: Kanit, "Courier New", Courier, monospace, sans-serif;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 0%;
  justify-content: space-between;
  overflow-x: hidden;
}

.header {
  font-size: 50px;
}

.github {
  margin: 0 auto;
}
.tagline {
  padding-bottom: 1em;
}
.img {
  margin: 0 auto 0 auto;
}
.homeContainer {
  padding: 3em 0 3em 0;
  background-color: grey;
  text-align: center;
  align-items: center;
  background-color: #dff9fb;
}

.projectsContainer {
  min-height: 20em;
  width: 100%;
  margin-right: 3em;
  margin-left: 3em;
  padding: 3em 1em 3em 1em;
}
.logo {
  position: absolute;
  top: 1em;
  left: 20%;
}
.proud {
  font-size: 0.7em;
  color: rgba(113, 128, 150, 0.7);
}
.proud_italics {
  font-style: italic;
}
